*{
    margin:0;
    padding:0;
    box-sizing:boder-box;
    font-family: sans-serif;
}
body{
    overflow-x:hidden;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color:black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
.section-padding{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100% ;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(240, 236, 236);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.shopbtn{
    text-decoration: none;
    color:black;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-bar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#nav-bar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(82, 82, 82);
    transition: all 0.3s ease;
}
#nav-bar li a:hover,
#nav-bar li a.active {
    color: rgb(47, 133, 111);
}
#nav-bar li a.active::after,
#nav-bar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(24, 124, 99);
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#burger{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    background-image: url("./banner/b21.jpg");
    height: 90vh;
    width: 100%;
    background-size:cover;
    padding: 0 80px;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(24, 124, 99);
}
#hero button{
    background-image: url("./button.png");
    border: none;
    background-color: transparent;
    color: rgb(24, 124, 99);
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
}
#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#feature .feature-box{
    width: 120px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid lightblue;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .feature-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(24, 124, 99);
    background-color: rgb(245, 179, 210);
} 
#feature .feature-box:nth-child(2) h6{
    background-color: rgb(180, 219, 187);

}
#feature .feature-box:nth-child(3) h6{
    background-color: rgb(180, 213, 219);

}
#feature .feature-box:nth-child(4) h6{
    background-color: rgb(180, 186, 219);

}
#feature .feature-box:nth-child(5) h6{
    background-color: rgb(233, 229, 180);

}
#feature .feature-box:nth-child(6) h6{
    background-color: rgb(197, 201, 211);

}
#feature .feature-box img{
    width: 100%;
    margin-bottom: 10px;
}
#product-1{
    text-align: center;
    margin-bottom: 10px;
}
#product-1 .product{
    width: 18%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin: 15px 0;
    position: relative;
}
.product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}
#product-1 .product img{
    width: 100%;
}
#product-1 .product .product-description{
    text-align: start;
    pad: 10px 0;
}
#product-1 .product-description span{
    color: rgb(24, 124, 99);
    font-size: 14px;
    font-weight: 400;
}

#product-1 .product-description h5{
    padding-top: 10px;
    color: darkgray;
    font-size: 14px;
}
#product-1 .product-description i{
    padding-top: 5px;
    color: gold;
}
#product-1 .product-description h4{
    padding-top: 5px;
    color: rgb(24, 124, 99);
}
.product a i{
    position: absolute;
    color: rgb(165, 197, 189);
    line-height: 40px;
    bottom: 2px;
    right: 10px;
    height: 40px;
    width: 40px;
    transition:  all 0.3s ease;
}
.product a i:hover{
    color: white;
    background: rgb(47, 133, 111);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.section-margin{
    margin:40px 0;
}
#bottom-banner,.banner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#bottom-banner h4{
    color: white;
    font-size: 16px;
}
#bottom-banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#bottom-banner h2 span{
    color: rgb(255, 0, 0);
    font-size: 30px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
#bottom-banner button:hover{
    background-color: rgb(24, 124, 99);
    color: white;
    font-weight:700;
}
#feed-banners .banner-box:hover button{
    background-color: rgb(24, 124, 99);
    border: 1px solid rgb(24, 124, 99);
}
#feed-banners{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
#feed-banners .banner-box{
    background-image: url("/banner/b17.jpg");
    max-width: 540px;
    height: 50vh;
    margin-top: 15px;
    text-align: start;
    align-items: flex-start;
    padding-left: 30px;
}
#feed-banners .banner-box:nth-child(2){
    background-image: url("/banner/b10.jpg");

}
#feed-banners h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#feed-banners h4{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#feed-banners span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
#bottom-feed-banners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

#bottom-feed-banners .banner-box{
    background-image: url("/banner/b7.jpg");
    max-width: 30%;
    height: 35vh;
    margin-bottom: 20px;
    cursor: pointer;
}
#bottom-feed-banners .banner-box:nth-child(2){
    background-image: url("/banner/b22\ \(1\).jpg");
}
#bottom-feed-banners .banner-box:nth-child(3){
    background-image: url("/banner/b24.jpg");
}
#bottom-feed-banners h2{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
#bottom-feed-banners h3{
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 18px;
}
#newsletter{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("/banner/b2.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#newsletter h4{
    font-size: 26px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 18px;
    padding-top: 10px;
    font-weight: 600;
    color: rgb(205, 247, 236);
}
#newsletter span{
    font-size: 18px;
    font-weight: 600;
    color: rgb(230, 157, 0);
}

#newsletter .form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#newsletter input{
    height: 2.7rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#newsletter button.normal{
    background-color: rgb(24, 124, 99);
    color: white;
    white-space:nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}
footer p, address{
    font-size: 15px;
    margin: 0 0 8px 0;
    color: rgb(105, 105, 105);

}
footer a{
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(105, 105, 105);
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    padding-right: 6px;
    margin-right: 2px;
    cursor: pointer;
}
footer .follow i:nth-child(1){
    color: #3b5998;
}
footer .follow i:nth-child(2){
    color: #bb0000;
}
footer .follow i:nth-child(3){
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
footer .follow i:nth-child(4){
    color: #cb2027;
}
footer .follow i:nth-child(5){
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
footer .install .row img{
    border: 1px solid rgb(24, 124, 99);
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer a:hover{
    color: rgb(24, 124, 99);
}
footer i:hover{
    transform: scale(1.7);
}
footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    .section-padding {
        padding: 40px 40px;
    }
    #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #feffff;
        box-shadow: 0 40px 60px rgba(216, 216, 216, 0.03);
        padding: 40px 0 0 10px;
        transition: 0.3s ease;
    }
    #nav-bar.active{
        right: 0px;
    }
    #nav-bar li{
        margin-bottom: 25px;
    }
    #burger{
        display: flex;
        align-items: center;
    }
    #burger i{
        padding-left: 20px;
        color: rgb(0, 0, 0);
    }
    #close{
        display: initial;
        position: absolute;
        top:13px;
        left: 30px;
        font-size: 20px;
        color: black;
    }
    #no-cart{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .feature-box {
        margin: 15px 15px;
    }
    .product-container {
        justify-content: center;
    }
    #product-1 .product {
        margin: 15px ;
    }
    #bottom-banner{
        height: 27vh;
    }
    #feed-banners .banner-box {
        max-width: 100%;
        height: 30vh;
    }
    #bottom-feed-banners {
        padding: 0 40px;
    }
    #newsletter .form{
        width: 70%;
    }
}
@media (max-width:477px) {
    .section-padding{
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    #hero {
        height: 60vh;
        padding: 0 20px;
        background-position:55%;
    }
    #h2{
        font-size: 32px;
    }
    #h1{
        font-size: 38px;
    }
    #feature .feature-box {
        width: 135px;
        margin: 0 0 15px 0;
    }
    #feature{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #product-1 .product {
        width: 100%;
    }
    #bottom-feed-banners {
        padding: 0 20px;
    }
    #bottom-feed-banners h2 {
        color: white;
        font-weight: 900;
        font-size: 15px;
        padding: 2px;
    }
    #newsletter .form{
        width: 100%;
        padding-top: 7px;
    }
    footer .col {
        width: 50%;
        padding: 5px;
    }
    /*single product page*/
    #single-product-details {
        display: flex;
        flex-direction: column;
    }
    #single-product-details .single-prod-img {
        width: 100%;
        margin-right: 0px;
    }
    #single-product-details .single-prod-details {
        width: 100%;
    }
    /***********blog page*****************/
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    } 
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
        margin-bottom: 20px;
    }
    /***************Aboutus*************/
    #about-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-head img {
        width: 100%;
    }
    #about-head div{
        padding-left: 0px;
    }
    #about-app .app-video{
        width: 100%;
        margin: 38px 0 20px 20px;
    }
}
/**************Shop Page**************/
#shop-header,
#blog-header,
#about-header{
    background-image: url("/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#shop-header h2,#blog-header h2,#about-header h2,
#shop-header p,#blog-header p ,#about-header p{
    color: rgba(255, 255, 255,0.96);
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: rgb(24, 124, 99);
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight:600 ;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/**********Single Product************/
#single-product-details{
    display: flex;
    margin-top: 20px;
}
#single-product-details .single-prod-img{
    width: 40%;
    margin-right: 50px;
}
.small-prod-img-group{
    display: flex;
    justify-content: space-between;
}
.small-prod-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#single-product-details .single-prod-details{
    width: 50%;
}
#single-product-details .single-prod-details h4{
    padding: 40px 0 20px 0;
}
#single-product-details .single-prod-details h2{
    font-size: 26px;
}
#single-product-details .single-prod-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#single-product-details .single-prod-details select:focus{
    outline: none;
}
#single-product-details .single-prod-details input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    
}
#single-product-details .single-prod-details input:focus{
    outline: none;
}

#single-product-details .single-prod-details button{
    background-color: rgb(47, 133, 111);
    color: white;
}
#single-product-details .single-prod-details span{
    line-height: 25px;
}
/************Blog**********************/

#blog-header.blogs-header{
    background-image: url("/banner/b19.jpg");
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    transition: 0.3s ease;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 8px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: rgb(47, 133, 111);
}
#blog .blog-details a:hover::after{
    background-color: rgb(47, 133, 111);

}
#blog .blog-box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: rgb(202, 213, 223);
    z-index: -1;
}
/***************************AboutPage*********************/
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
}
#about-header.abouts-header{
    background-image: url("/about/banner.png");
}
#about-app{
    text-align: center;
}
#about-app .app-video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .app-video video{
    width: 100%;
    height: 100%;
    border-radius: 30px;

}